/*---------MOBILE VIEW---------*/






@media screen and (max-width: 770px) {
  body {
    display: grid;
    width: 100vh;
    height: 100%;
    background-color: rgb(234, 242, 247);
    align-items: center;
    justify-content: center;



  }



  .bg-shape-container {
    height: 700px;
    width: 160px;
    margin-left: -500px;
    padding-right: 150px;
    border-radius: 20px 0px 300px 0px;
  }


  .main-card {

    width: 300px;
    height: 660px;
    display: table-row;
    background-color: rgb(242, 242, 242);
    border-style: solid;
    border-radius: 50px 50px 50px 50px;
    border-width: 18px;
    border-color: white;
    margin-top: -600px;
    margin-left: -380px;
    box-shadow: 10px 5px 50px rgb(192, 192, 192);


  }

  .header-container {
    background-color: rgb(173, 108, 234);
    background: linear-gradient(to right, hsl(263, 99%, 62%), rgb(237, 39, 255));
    width: 300px;
    height: 80px;
    display: flex;
    border-radius: 25px 25px 10px 10px;
    flex-direction: row;

  }

  .white {
    background-color: white;
    width: 160px;
    height: 25px;

    margin-top: -10px;
    margin-left: 50px;


  }


  p0 {
    color: rgba(255, 255, 255, 0.562);
    width: 200px;
    font-size: 13px;

  }

  b {
    color: white;
    width: 200px;
    font-size: 18px;
  }

  .header-row {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 90px;
    gap: 20px;


  }

  .img1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid white;
    margin-left: -43px;


  }

  p1 {
    font-size: 11px;
  }

  .p1-card {
    height: 30px;
    width: 160px;
    padding: 15px;

  }

  p2 {
    font-size: 11px;

  }

  .p2-card {
    height: 30px;
    width: 160px;
    padding: 15px;

  }


  .img2 {

    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 2px;
    margin-left: 125px;

  }


  .img3 {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 2px;

  }

  .img4 {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 2px;
  }


  p3 {
    font-size: 11px;

  }

  .p3-card {
    height: 30px;
    width: 160px;
    padding-top: 3px;
    padding-bottom: 15px;
    margin-left: 110px;

  }

  p4 {
    font-size: 11px;
    margin: 5px;
  }

  .p4-card {
    height: 20px;
    width: 100px;
    padding: 8px;
    margin-left: 173px;


  }

  p5 {
    font-size: 11px;

  }

  .p5-card {
    height: 30px;
    width: 160px;
    padding: 10px;
    padding-bottom: 35px;


  }

  .button-card1 {
    color: white;
    font-size: 11px;
    height: 20px;
    border-radius: 15px 15px 15px 5px;
    padding: 10px;
    width: 190px;
    display: flex;

  }

  .button-card2 {
    color: white;
    font-size: 11px;
    height: 20px;
    width: 190px;
    border-radius: 15px 15px 15px 5px;
    padding: 10px;
    display: flex;



  }

  label {

    line-height: 23px;
    margin: auto 6px;




  }

  input {
    color: black;
  }

  b2 {
    font-size: 18px;
    margin-left: 30px;
    font-weight: 900;
  }

  b3 {
    font-size: 18px;
    margin-left: 55px;
    font-weight: 900;

  }

  .message-card {


    width: 260px;
    height: 30px;

    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
  }

  .type {
    font-size: 13px;
    margin: 8px;
    margin-left: 10px;


  }

  .submit {
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .submit-card {
    background-color: rgb(57, 40, 85);
    width: 45px;
    height: 45px;
    float: right;
    margin-top: -40px;
    border-radius: 50px;
  }


  .texts {
    padding: 0px;
    margin-right: 0px;
    margin-left: -400px;
  }

  h1 {

    font-size: 50px;
    font-weight: 500;
    width: 400px;
    color: rgb(92, 92, 92);

  }

  h2 {
    color: rgba(0, 0, 0, 0.482);
    font-weight: 100;
    font-size: 15px;

    word-spacing: 0px;
    line-height: 30px;
    margin-right: 320px;
    width: 400px;




  }

}